@model MvcAdoDemo.Models.Account

<h2>Login</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div style="color:red">@TempData["ErrorMessage"]</div>
}

<form asp-action="Login" method="post">
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br />

    <button type="submit">Login</button>
</form>
<a href="/User/Register">Register</a>
